.section3-content-container {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.landing-page-links {
    color: #A991E5;
    font-weight: bold;
}

.landing-page-links:hover {
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

.landing-page-linksdisabled {
    color: lightgray;
}

.section-3-images {
    height: 120px;
    width: 120px;
}

.section-3-image-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3-content-container:hover {
    cursor: pointer;
}
