.what-we-about-container {
    background-color: rgb(243, 239, 239);
    display: flex;
    flex-direction: column;
    align-items: center;

}

#what-we-about-events-container {
    display: flex;
    flex-direction: column;
}


#what-we-about-events-heading {
    font-size: 40px;
    margin: auto;
}
