.profile-dropdownhidden {
    display: none;
}


.profile-dropdown {
    color: black
        /* display: none; */
}

.navigation-container {
    display: flex;
    justify-content: space-between;
}

#logo {
    margin-left: 20px;
}

.navigation-links {
    display: flex;
    gap: 10px;
    list-style: none;
    margin-right: 20px;
}

#nav-navlink {
    text-decoration: none;
    color: inherit;
}
