.profile-dropdownhidden {
    display: none;
}


.profile-dropdown {
    color: black
        /* display: none; */
}

.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

#logo {
    margin-left: 20px;
}

#logo:hover {
    cursor: pointer;
    color: green;

}

.nav-in-out-links {
    display: flex;
    gap: 10px;
}

.navigation-links {
    display: flex;
    gap: 10px;
    list-style: none;
    margin-right: 20px;
}

.nav-logged-out-links {
    display: flex;
    gap: 10px;
}

#nav-navlink {
    text-decoration: none;
    color: inherit;
}
